<h1>Log In</h1>
<div>
    <form action="/login" method="POST">
        Email: <input type="text" name="email" placeholder="example@email.com">
        </br></br>
        Password: <input type="password" name="password">
        </br></br>
        <input type="submit" value="Log In">
    </form>
</div>
