<h2>Sign Up</h2>
<form action="/signup" method="POST">
    <input type="text" name="name" placeholder="Username:">
    <input type="text" name="email" placeholder="Email:">
    <input type="password" name="password" placeholder="Password:">
    <input type="submit" value="Sign Up">
</form>