<h2>Sign Up</h2>
<form action="/signup" method="POST">
    Username: <input type="text" name="name" placeholder="username">
    Email: <input type="text" name="email" placeholder="example@email.com">
    Password: <input type="password" name="password">
    <input type="submit" value="Sign Up">
</form>