<h1 style="text-align: center;">Character Gallery</h1>
<div class="gallery-container">
    <% @characters.each do |char|%>
        <div class="char-card">
            <a href="/characters/<%= char.id %>"><img src="<%= char.photo %>" alt="Character Portrait" class="char-photo"></a>
            <h4>'<%= char.name %>' by <%= char.user.name %></h4>
        </div>
    <% end %>
</div>