<h1>Insert the form to create a new instance of your model.</h1>
<form action="/characters" method="POST">
    <input type="text" name="name" placeholder="Character Name">
    <input type="text" name="race" placeholder="Character Race">
    <input type="password" name="password" placeholder="Password:">
    <input type="submit" value="Sign Up">
</form>