<div>
    </br>
    <p>Welcome to the Dungeons and Dragons 5th edition Character 
    Manager! Here users can create, customize and track all their 
    favorite D&D characters. To continue please either sign up or 
    log into your account to get started!</p>
    <p><a href="/login">Log In</a> | <a href="/signup">Sign Up</a></p>
</div>